<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <%= stylesheet_link_tag "signin" %>
</head>
<body>
  <div id="login-form-wrap">
    <h2>Login</h2>
    <%= form_with(url: login_path, scope: :session, local: true, html: { id: "login-form" }) do |f| %>
      <p>
        <%= f.email_field :email, id: "email"%>
      </p>
      <p>
        <%= f.password_field :password, id: "password" %>
      </p>
      <p>
      <% flash.each do |type, msg| %>
        <div>
          <%= msg %>
        </div>
      <% end %>
      </p>
      <p>
        <%= f.submit "Log in", id: "login" %>
      </p>
      <% end %>
    <div id="create-account-wrap">
      <p>Not a member? <%= link_to "Create Account", signup_path %></a><p>
    </div>
  </div>
</body>
</html>
