
<h1>Show User</h1>

<h3>
  <ul>
    <li>Number of posts:<%= @user.posts.count %></li>
    <li>Card:<%=  @user.card.mask_credit_card_number unless @user.card.nil? %></li>
    <li>BankInfo:<%= @user.bank_info.name unless @user.bank_info.nil? %></li>
  </ul>
</h3>

<%= render "shared/users/profile" %>

<h1>Comments</h1>
<h3>
<ul>
  <% @user.posts.each do |post| %>
    <% post.comments.each do |comment| %>
    <li><%= comment.body %> 
    - <%= link_to comment.user.profile.name, comment.user unless comment.user.profile.nil? %>
    (<%= time_ago_in_words(comment.created_at) %> ago.)
    </li>
    <% end %>
  <% end %>
</ul>
</h3>


<h1>Participating Events</h1>
<h3>
<ul>
  <% @user.events.each do |event| %>
    <li><%= event.content %></li>
  <% end %>
</ul>
</h3>
